.round-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inc-button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(189, 3, 3);
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }